// alerts
.main-departments {
    position: relative;
    /* Ensures the alert stays inside this component */
}

/* Alerts */
.alert-container {
    position: fixed !important;
    /* Inside MainDepartments */
    bottom: 5px !important;
    /* Distance from bottom */
    right: 5px;
    /* Distance from right */
    z-index: 9999;
}

.success-alert {
    display: flex;
    align-items: center !important;
    justify-content: space-between;
    gap: 10px;
    width: fit-content;
    height: 60px;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.alert-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.close-btn {
    background: none;
    border: none;
    color: #000;
    margin-top: 30px;
    // padding: 5px;
    cursor: pointer;
}

.success,
.close,
.error {
    width: 30px;
}