.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1050 !important; /* Ensure it's above other elements */  background-color: #ffffff;
  opacity: 0.6 !important;
  background-color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: all; /* Allow interaction with the modal */
}

.delete-card {
  overflow: hidden;
  position: relative;
  text-align: left;
  border-radius: 0.5rem;
  max-width: 290px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  pointer-events: auto; /* Allow interaction with the modal */
}

/* Rest of the styles for delete card content */
.delete-header {
  padding: 1.25rem 1rem 1rem 1rem;
  background-color: #ffffff;
}

.delete-image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #fee2e2;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
}

.delete-image svg {
  color: #dc2626;
  width: 1.5rem;
  height: 1.5rem;
}

.delete-content {
  margin-top: 0.75rem;
  text-align: center;
}

.delete-title {
  color: #111827;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.delete-message {
  margin-top: 0.5rem;
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.delete-actions {
  margin: 0.75rem 1rem;
  background-color: #f9fafb;
}

.delete-button {
  display: inline-flex;
  padding: 0.5rem 1rem;
  background-color: #dc2626;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: transparent;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.cancel-button {
  display: inline-flex;
  margin-top: 0.75rem;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  color: #374151;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

button {
  cursor: pointer;
}
