body {
  // background-color: $grey ;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden !important;
  background: linear-gradient(to right, #ffffff, #f6e9c9);

 height: 100vh;
}

.Container {
  display: flex;
  margin-top: 10px !important;
  width: 100%;
  justify-content: space-between;

}

// NAVBAR
.AdminMenu {
  background-color: $white;
  position: fixed !important;

  // width: 20%;
  display: flex;
  border-radius: 10px;
  // height: 100vh !important;

  .Navbar {
    padding: 5px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .logoContainer {
      border-bottom: 1px solid $grey;
      padding-top: 10px;
      padding-bottom: 20px;
    }

    .NavbarMenu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px;
      padding-top: 0 !important;
      margin-top: 0 !important;
      gap: 5px;
      width: 240px;
      background-color: $grey;
      border-radius: 25px;
      z-index: 4949499999 !important;
    }

    .NavbarItem {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 10px;
      width: 100%;
      gap: 10px;

      .navLink {
        display: flex;
        align-items: center;
        color: $black;
        text-decoration: none;
        font-size: 1rem;
        width: 100%;
        transition: background-color 0.3s ease;

        &:hover {
          color: $darkGrey;
          border-radius: 5px;
        }
      }

      .logout {
        flex-direction: row !important;
      }
    }

    .dropdown-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
      width: 100%;
      background-color: $yellow;
      border-radius: 10px;

      .dropdownMenu {
        display: none;
        flex-direction: column;
        padding: 8px 10px;
        list-style: none;
        border-radius: 5px;
        margin-top: 10px;
        width: 100%;
      }

      &.expanded .dropdownMenu {
        display: flex;
        gap: 5px;
      }

      .dropdownMenuItem {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding: 5px 10px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
      }

      .dropdownMenuItemWhite {
        color: $white !important;
      }

      .dropdown-title {
        display: flex;
        align-items: center;
        color: $black;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 100%;
        background-color: $white;
        padding: 10px;
        border-radius: 5px;
        justify-content: start;
        gap: 10px;

        .dropdownArrow {
          margin-left: auto;
        }
      }

      li {
        padding: 8px 10px;
        display: flex;
        align-items: center;

        .dropdownLink {
          font-size: 0.9rem;
          width: 100%;
          text-decoration: none;
          color: $black;
        }
      }
    }

  }
}

// SECOND 
.secondPart {
  // margin: 0 20px;
  margin-left: 280px;
  width: 75%;

  .head {
    display: flex;
    align-items: center !important;
    justify-content: space-around !important;
    width: 100% !important;

    // SEARCH
    // .input-container {
    //   display: flex;
    //   gap: 5px;
    //   background-color: $white;
    //   border-radius: 30px;
    //   justify-content: center;
    //   align-items: start;
    //   padding: 3px;

    //   .searchIcon {
    //     width: 35px;
    //     height: 35px;
    //     background-color: $grey;
    //     padding: 10px;
    //     border-radius: 50%;
    //   }

    //   .input {
    //     padding: 10px;
    //     border: none;
    //     border-radius: 10px;
    //     background-color: $white;
    //     outline: 0;
    //   }
    // }

    .right {
      display: flex;
      gap: 10px !important;
      justify-content: center;
      align-items: center;
      padding: 0 !important;
      margin-left: auto;

      .icon-container {
        border-radius: 50%;
        padding: 10px;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          width: 18px;
          height: 18px;
        }
      }

      .dark-icon {}

      .admin-image {
        width: 38px;
        height: 38px;
        border-radius: 50%;
      }
    }
  }

  .greeting-container {
    // margin: 14px 0;

    .greeting {
      color: $darkGrey;
      font-size: 14px;
    }

    .admin-name {
      font-size: 20px;
      font-weight: 600;
    }
  }


}