
body {
  background-color: $grey ;
  font-family: 'Montserrat', sans-serif;
}

// Container Styles
.Container {
  display: flex;
  margin: 0px 10px;
  margin-top: 10px;
}

// Admin Menu Styles
.AdminMenu {
  background-color: $white;
  width: fit-content;
//   height: 100vh;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}
.inRight{
    background-color: $white !important;
    padding: 6px 10px !important;
    color: $black !important;
}
// Collapse Styles
.collapse {
  position: absolute;
  top: 20px;
  left: 240px;

  .collapse-img {
    width: 25px;
    cursor: pointer;
  }
}

// Navbar Styles
.Navbar {
  padding: 5px 20px;
  display: flex;
  height: 100vh;
  flex-direction: column;
  gap: 20px;
//   justify-content: space-between;

  .logoContainer {
    border-bottom: 1px solid $grey;
    padding-bottom: 10px;
  }

  .menuText {
    font-size: 16px;
    margin: 15px 0;
  }

  .NavbarMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 5px;
    width: 240px;
    background-color: $grey;
    border-radius: 25px;
  }

  .NavbarItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    gap: 10px;

    .navLink {
      display: flex;
      align-items: center;
      color: $black;
      text-decoration: none;
      font-size: 1rem;
      width: 100%;
      transition: background-color 0.3s ease;

      &:hover {
        color: $darkGrey;
        border-radius: 5px;
      }

      svg {
        margin-right: 10px;
      }
    }
  }

  .dropdown-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    width: 100%;
    background-color: $yellow;
    border-radius: 10px;

    .dropdownMenu {
      display: none;
      flex-direction: column;
      padding: 8px 10px;
      list-style: none;
      border-radius: 5px;
      margin-top: 10px;
      width: 100%;
    }

    &.expanded .dropdownMenu {
      display: flex;
      gap: 5px;
    }

    .dropdownMenuItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 5px 10px;
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }

    .dropdown-title {
      display: flex;
      align-items: center;
      color: $black;
      text-decoration: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
      width: 100%;
      background-color: $white;
      padding: 10px;
      border-radius: 5px;
      justify-content: space-between;

      .dropdownArrow {
        margin-left: auto;
      }

      svg {
        margin-right: 10px;
      }
    }

    li {
      padding: 8px 10px;
      display: flex;
      align-items: center;

      .dropdownLink {
        font-size: 0.9rem;
        width: 100%;
        text-decoration: none;
        color: $black;

        svg {
          margin-right: 8px;
        }
      }
    }
  }
}

// Admin Email Styles
.admin-email {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 0;
  border-radius: 10px;
  background-color: $grey;
  color: $black;
  cursor: pointer;
//   align-self: flex-end;

  .admin-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .admin-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
}

// Second Part Styles
.secondPart {
  margin: 0 20px;
 
    .icon{
        width: 25px;
        height: 25px;
        
    }
  


  .input-container {
    display: flex;
    gap: 5px;
    background-color: $white;
    width: fit-content;
    border-radius: 30px;
    justify-content: center;
    align-items: start;
    padding: 3px;

    .searchIcon {
      width: 35px;
      height: 35px;
      background-color: $grey;
      padding: 10px;
      border-radius: 50%;
    }
    .white-searchIcon
{
    display :none;
    width: 35px;
    height: 35px;
    padding: 10px;
    border-radius: 50%;
    background-color: $black;

}

    .input {
      padding: 10px;
      border: none;
      border-radius: 10px;
      background-color: $white;
      outline: 0;
    }
  }

  .greeting-container {
    margin: 14px 0;

    .greeting {
      color: $darkGrey;
      font-size: 14px;
    }

    .admin-name {
      font-size: 20px;
      font-weight: 600;
    }
  }
}

.head{
    display: flex;
    justify-content: end !important;
    align-items: center;
    // background-color: aqua;
    // width: 75vw !important;
    
  

    .right{
        display: flex;
        justify-content: end !important;
        align-items: center;
        gap:20px;
        margin-LEFT: 450px;

    }
 
}
.input-mobile{
    display: none !important;
}
.mobile-icons{
  display: none;
}

.hamburger{
    display: none ;
}
@media only screen and (max-width: 767px) {
    /* Styles for mobile devices */
    .hamburger{
      display: block ;
      margin-top: 10px;
    }
      .bars{
  font-size: 24px; /* Adjust size as needed */
  cursor: pointer; /* Makes the icon clickable */

}
// Second Part Styles
.secondPart {
  margin: 0px;
  background-color: bisque !important;
  padding: 0;
}
.head{
  display: flex;
  flex-direction: column;
  justify-content: start !important;
  align-items: center;
  background-color: aqua !important;
  // width: 75vw !important;
  
}

  .right{
      display: flex !important;
      flex-direction: column !important;
      justify-content: start !important;
      align-items: start !important;
      // background-color: aquamarine !important;
      gap:0 !important;
      margin-left: 0 !important;

  }
.Navbar{
  padding:0;
}

  .admin-email{
    display: none;
  }
  .AdminMenu {
    background-color: $grey
  }
   .input-desktop {
    display: none !important;
  }
  .input-mobile{
    display: flex !important;
    margin :0 !important;
    padding :0 !important;
    
    border-color: blueviolet;
}
.mobile-icons{
  display: block;
}
.desktop-mode{
  display: none;
}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
   }