* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden !important;
}

.Container {
  display: flex;
  margin: 10px;
  width: 100%;
}

.AdminMenu {
  background-color: #fff;
  display: flex;
  border-radius: 10px;
  height: 100vh !important;
}
.AdminMenu .Navbar {
  padding: 5px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.AdminMenu .Navbar .logoContainer {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
.AdminMenu .Navbar .NavbarMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-top: 0 !important;
  margin-top: 0 !important;
  gap: 5px;
  width: 240px;
  background-color: #eee;
  border-radius: 25px;
}
.AdminMenu .Navbar .NavbarItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  gap: 10px;
}
.AdminMenu .Navbar .NavbarItem .navLink {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  width: 100%;
  transition: background-color 0.3s ease;
}
.AdminMenu .Navbar .NavbarItem .navLink:hover {
  color: #343a40;
  border-radius: 5px;
}
.AdminMenu .Navbar .NavbarItem .logout {
  flex-direction: row !important;
}
.AdminMenu .Navbar .NavbarItem .logout-icon {
  width: 16px;
  height: 16px;
}
.AdminMenu .Navbar .dropdown-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  width: 100%;
  background-color: #ffd60a;
  border-radius: 10px;
}
.AdminMenu .Navbar .dropdown-item .dropdownMenu {
  display: none;
  flex-direction: column;
  padding: 8px 10px;
  list-style: none;
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
}
.AdminMenu .Navbar .dropdown-item.expanded .dropdownMenu {
  display: flex;
  gap: 5px;
}
.AdminMenu .Navbar .dropdown-item .dropdownMenuItem {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.AdminMenu .Navbar .dropdown-item .dropdown-title {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  justify-content: start;
  gap: 10px;
}
.AdminMenu .Navbar .dropdown-item .dropdown-title .dropdownArrow {
  margin-left: auto;
}
.AdminMenu .Navbar .dropdown-item li {
  padding: 8px 10px;
  display: flex;
  align-items: center;
}
.AdminMenu .Navbar .dropdown-item li .dropdownLink {
  font-size: 0.9rem;
  width: 100%;
  text-decoration: none;
  color: #000;
}

.secondPart {
  margin: 0 20px;
  width: 100%;
}
.secondPart .head {
  display: flex;
  align-items: center !important;
  justify-content: space-around !important;
  width: 100% !important;
}
.secondPart .head .input-container {
  display: flex;
  gap: 5px;
  background-color: #fff;
  border-radius: 30px;
  justify-content: center;
  align-items: start;
  padding: 3px;
}
.secondPart .head .input-container .searchIcon {
  width: 35px;
  height: 35px;
  background-color: #eee;
  padding: 10px;
  border-radius: 50%;
}
.secondPart .head .input-container .white-searchIcon {
  display: none;
  width: 35px;
  height: 35px;
  padding: 10px;
  border-radius: 50%;
  background-color: #000;
}
.secondPart .head .input-container .input {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  outline: 0;
}
.secondPart .head .right {
  display: flex;
  gap: 10px !important;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  margin-left: auto;
}
.secondPart .head .right .icon-container {
  border-radius: 50%;
  padding: 5px 6px;
  background-color: #fff;
}
.secondPart .head .right .icon-container .icon {
  width: 21px;
  height: 21px;
}
.secondPart .head .right .admin-image {
  width: 38px;
  height: 39px;
  border-radius: 50%;
}
.secondPart .greeting-container {
  margin: 14px 0;
}
.secondPart .greeting-container .greeting {
  color: #343a40;
  font-size: 14px;
}
.secondPart .greeting-container .admin-name {
  font-size: 20px;
  font-weight: 600;
}

body.dark-mode {
  background-color: #000; /* Black background */
  color: white; /* White text */
}

.dark-mode .AdminMenu {
  background-color: #eee; /* Black background */
}

.dark-mode .AdminMenu {
  background-color: #343a40; /* Black background */
}

.dark-mode .NavbarMenu {
  background-color: #000;
  color: #fff;
}

.dark-mode .navLink {
  display: flex;
  align-items: center;
  color: #fff !important;
  text-decoration: none;
  font-size: 1rem;
  width: 100%;
  transition: background-color 0.3s ease;
}

.dark-mode .dropdown-title {
  width: 100%;
  background-color: #343a40 !important;
  color: #fff !important;
}

.dark-mode .input-container {
  display: flex;
  gap: 5px;
  background-color: #343a40 !important;
}
.dark-mode .input-container .input {
  background-color: #343a40;
}
.dark-mode .input-container .searchIcon {
  display: none;
}
.dark-mode .input-container .white-searchIcon {
  display: block;
}

.sun {
  background-color: transparent !important;
}

.dark-mode .inRight {
  color: #fff !important;
  background-color: #343a40 !important;
}

.hamburger {
  display: none;
  position: fixed;
  top: 10px;
  left: 3px;
  font-size: 24px;
  padding: 10px;
  z-index: 1100;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.Navbar.sidebar-open + .hamburger {
  transform: rotate(0);
}

.Navbar.sidebar-open {
  transform: translateX(0);
}

.Container.sidebar-open .Navbar {
  transform: translateX(0);
}

.input-container-responsive {
  display: none !important;
}

.Navbar.sidebar-open .hamburger {
  left: 250px;
}

@media only screen and (max-width: 767px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .close {
    margin-left: 200px;
    margin-bottom: 10px;
    font-size: 26px;
  }
  .Navbar {
    transform: translateX(-100%);
    flex-direction: column;
    padding-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #fff;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .Navbar.sidebar-open {
    transform: translateX(0);
  }
  .Container {
    margin: 5px !important;
    width: 100%;
  }
  .secondPart {
    margin: 0 10px;
    width: 100%;
  }
  .greeting-container {
    margin: 10px 0;
  }
  .head {
    flex-direction: column-reverse;
    gap: 5px;
    align-items: end !important;
    justify-content: end !important;
    width: 100% !important;
  }
  .head .right {
    display: flex;
    gap: 5px !important;
    margin-top: 5px;
  }
  .head .input-container {
    width: 100%;
    gap: 2px;
    flex: 1;
    background-color: #fff;
    border-radius: 30px;
    justify-content: start !important;
  }
  .head .icon {
    width: 22px;
    height: 22px;
  }
  .logout {
    margin-top: 50px !important;
    flex-direction: row !important;
  }
}/*# sourceMappingURL=main.css.map */