.language-container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black !important;
    // margin-bottom: 20px;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .langbtn {
    background-color: white;
    color:black;
    border: none;
    // padding: 12px;
    font-size: 16px;
    // border-radius: 50%; 
    cursor: pointer;
    text-align: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
  }
  
  .langbtn:hover {
    background-color: white;
  }
  
  .dropdown-content {
    display: block;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 10px;
    right: -19px;
 }
  
  .dropdown-content .langbtn {
    background-color: white;
    color: black;
    width: 100%;
    border-radius: 0;
    text-align: left;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-content .langbtn:hover {
    background-color: #ddd;
  }
 .dark-mode  .langbtn{
background-color: #2c2c2c;
color: #fff;
}


.no-salary{
  background-color: #fff;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  margin: 20px auto;
  text-align: center;
}

.dark-mode .no-salary{
  background-color: #2c2c2c;
  
}

.dropdown-item {
  margin-bottom: 10px; // Add space between dropdowns
}

// .dropdown-profile {
//   margin-bottom: 20px; // Specific spacing for the Profile dropdown
// }

// .dropdown-payroll {
//   margin-top: 20px; // Specific spacing for the Payroll dropdown
// }