.updateAtt{
    display: flex;
    justify-content: center;
    align-items: center !important;

    gap: 15px;
    background-color: #6247AA ;
    padding: 10px 20px  !important;
    border-radius: 12px;
    // margin-top: 10px;
    margin-bottom: 20px;
}