.updateAtt {
  display: flex;
  justify-content: center;
  align-items: center !important;
  gap: 15px;
  background-color: #ffd60a;
  padding: 10px 20px !important;
  border-radius: 12px;
  margin-bottom: 20px;
}

.employeAttDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.employeAttDetails div {
  display: flex;
  gap: 8px;
  align-items: center !important;
}
.employeAttDetails div label {
  font-size: 18px;
  font-weight: 500;
}

.headAtt {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 10px;
}
.headAtt .attFirstPart {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
}
.headAtt .attFirstPart .attFirstPartHeader {
  display: flex;
  justify-content: start;
  align-items: center !important;
  gap: 30px;
  align-self: start;
}
.headAtt .attFirstPart .attFirstPartHeader .dateNav {
  display: flex;
  justify-content: start;
  align-items: center !important;
  gap: 15px;
  margin-top: 10px;
}
.headAtt .attFirstPart .attFirstPartHeader .dateNav .lessGreaterIcon {
  width: 28px !important;
  background-color: #fff;
  cursor: pointer;
  padding: 3px;
  border-radius: 3px;
}
.headAtt .attFirstPart .toggleAttButton {
  display: flex;
  justify-content: center;
  align-items: center !important;
  gap: 15px;
  background-color: #ffd60a;
  padding: 10px 20px !important;
  border-radius: 12px;
  margin-bottom: 20px;
  cursor: pointer;
}
.headAtt .attFirstPart .toggleAttButton img {
  width: 25px;
}
.headAtt .attFirstPart .toggleAttButton p {
  margin: 0 !important;
  padding: 0 !important;
}
.headAtt .attSecondPart {
  display: flex;
  justify-content: space-between;
  align-items: flex-start !important;
  gap: 20px;
}
.headAtt .attSecondPart .attendanceSummary {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 280px;
}
.headAtt .attSecondPart .attendanceSummary .ps {
  background-color: #FFF;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  gap: 0 !important;
  font-size: 16px;
  font-weight: 500;
}
.headAtt .attSecondPart .attendanceSummary .ps span {
  font-size: 18px;
  font-weight: 600;
}
.headAtt .attSecondPart .lineGraph {
  flex: 1;
}
.headAtt .attSecondPart .lineGraph .line {
  width: 100%;
  height: 260px;
}

.selects {
  display: flex;
  gap: 10px;
}

.search-sort {
  display: flex;
}

@media only screen and (max-width: 1024px) {
  .headAtt {
    gap: 35px !important;
  }
  .headAtt .attSecondPart {
    flex-direction: column;
    gap: 20px;
  }
  .headAtt .attSecondPart .attendanceSummary {
    width: 100%;
    height: auto;
  }
  .headAtt .attSecondPart .lineGraph {
    width: 100%;
  }
  .headAtt .attSecondPart .lineGraph .line {
    width: 100%;
    height: 200px;
  }
  .attFirstPart {
    flex-direction: column;
    justify-content: start !important;
    align-items: start !important;
    gap: 0;
  }
  .attFirstPart .toggleAttButton {
    align-self: start !important;
  }
  .attFirstPart .toggleAttButton {
    margin: 0 !important;
  }
  .attendanceSummary {
    gap: 5px !important;
  }
  .title-search-sort {
    align-items: start !important;
    justify-content: start !important;
  }
  .title-search-sort h5 {
    align-self: start;
  }
  .selects {
    display: flex;
    gap: 10px;
  }
  .selects select {
    display: flex;
    flex-direction: column;
  }
  .search-sortAttendance {
    flex-direction: column;
    align-self: start;
  }
}
.saveMarkingAtt {
  background-color: #ffd60a;
  padding: 10px 20px !important;
  border-radius: 12px;
}/*# sourceMappingURL=attendance.css.map */