table {
  border: 1px solid #ccc;
  border-radius: 10px !important;
  border-collapse: collapse;
  margin: 10px 0;
  padding: 0;
  width: 100%;
  // /* Remove table-layout: fixed; to allow cells to expand */
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
  cursor: pointer;
}

table th,
table td {
  padding: .625em;
  text-align: start;
  /* Prevent text from wrapping */
  white-space: wrap;
  /* Ensure content doesn't get clipped */
  overflow: visible;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

table tr:hover {
  background-color: #fcf6da !important;
}

/* Media Queries for Mobile and Tablet Screens */

@media only screen and (max-width: 767px), 
     only screen and (min-width: 601px) and (max-width: 1024px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: left;
    /* Allow text to wrap in mobile view */
    white-space: normal;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

.contact {
  border: #666 1px solid;
  padding: 1px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.spacer {
  margin-bottom: 12px !important; /* Adjust spacing */
  display: block !important;
}

.more-dropdown {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 4px;
  border-radius: 5px;
}

.more-dropdown hr {
  color: #aaa;
}

.more-dropdown .delete-container,
.more-dropdown .edit-container {
  display: flex;
  justify-content: start;
  align-items: center !important;
  gap: 10px;
}

.more-dropdown .delete-container p,
.more-dropdown .edit-container p {
  color: #000 !important;
  margin-bottom: 0 !important;
}

.more-dropdown .delete-container p:hover,
.more-dropdown .edit-container p:hover {
  color: #666 !important;
}

.more-dropdown .edit-icon,
.more-dropdown .edit2-icon,
.more-dropdown .view-icon {
  width: 24px;
}

.more-dropdown .delete-icon {
  width: 20px;
}

.edit-icon,
.edit2-icon,
.view-icon,
.delete-icon {
  width: 20px;
}

.action-icons {
  display: flex;
  gap: 10px;
  justify-content: center !important;
  align-items: center;
}

